<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CustomerData" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\ADO.net IMPORTANT\Customer\CustomerDetails.PL\bin\Debug\Database\Customer.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
</configuration>